body {
    background-image: url("https://images.unsplash.com/photo-1455145914126-c357157e2db0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=96b071390e79293da59f00749e79130d&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    background-position: center;
}

html {
    height: 100%;
}

hr {
    width: 400px;
}

#content {
    text-align: center;
    padding-top: 25%;
}

.btn-sm {
    width: 80px;
}
