body {
    background: rgba(0,100,0,0.25);
/*    
    background: url(http://cdn.wonderfulengineering.com/wp-content/uploads/2014/10/wood-wallpaper-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
*/
}

h4 {
    border: 2px dashed green;
    background: rgb(255,100,100);
}

#name {
    color: blue;
}

#hexa {
    color: #0000FF;
}

#rgb {
    color: rgb(0,0,255);
}

#rgba {
    color: rgba(0,0,255,0.5);
}